@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste Entrevista</h1>
    <p class="lead">Projeto Teste utilizando MVC e  Sql Server.</p>
    <p class="lead"> CRUD básico de  Pedido, Cliente e Produtos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Toca Livros</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://www.tocalivros.com/">Leia Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
